{% extends "network/content_only.html" %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <!-- This is the main wrapper for the filter buttons and the posts list -->
    <div id="post-feed-area">
        <!-- Filter options included here -->
        <div class="mb-4">
            {% include "network/_filter_buttons.html" with current_page="following" %}
        </div>
        
        <!-- Post feed starts here -->
        <div id="posts-view">
            {% include "network/_posts_list.html" with posts=posts %}
        </div>
    </div>
</div>
{% endblock %}
