{% extends "network/layout.html" %}

{% block body %}

    <h2 class="ps-4" >Register</h2>

    {% if message %}
        <div class="ps-4">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="p-4">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input id="username" class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input id="email" class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="confirm-password">Confirm Password</label>   
            <input id="confirm-password" class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">

        </div>
    </form>

    <span class="ps-4">Already have an account? <a href="{% url 'login' %}">Log In here.</a></span>

{% endblock %}